<div class="cart-container">
    <div class="content-box">
      <h3>Tu Carrito</h3>
      <div class="cart-list">
        <div class="cart-item" *ngFor="let producto of carrito">
          <p>{{ producto.nombre }} - ${{ producto.precio }} x {{ producto.cantidad }}</p>
          <button (click)="eliminarProducto(producto)">Eliminar</button>
        </div>
      </div>
      <div class="total">
        <p>Total: {{ total | currency }}</p>
      </div>
      <button class="clear-cart-button" (click)="vaciarCarrito()">Vaciar Carrito</button>
    </div>
  </div>
  