<div class="carrito-container">
    <div class="content-box">
        <h3>Carrito de Compras</h3>
        <div class="carrito-header">
            <div class="carrito-column">Nombre</div>
            <div class="carrito-column">Precio</div>
            <div class="carrito-column">Cantidad</div>
            <div class="carrito-column">Subtotal</div>
        </div>
        <div class="carrito-row" *ngFor="let producto of carrito">
            <div class="carrito-column">{{ producto.nombre }}</div>
            <div class="carrito-column">{{ producto.precio | currency }}</div>
            <div class="carrito-column">{{ producto.cantidad }}</div>
            <div class="carrito-column">{{ (producto.precio * producto.cantidad) | currency }}</div>
        </div>
        <div class="total">
            <div class="total-label">Total:</div>
            <div class="total-value">{{ calcularTotal() | currency }}</div>
        </div>
        <button class="comprar-btn" (click)="realizarCompra()">Realizar Compra</button>
    </div>
</div>
