<div class="sales-container">
    <h1>{{ isVendor ? 'Historial de Ventas' : 'Historial de Compras' }}</h1>
    <div class="sales-list">
      <div class="sale-card" *ngFor="let sale of sales">
        <div class="sale-details">
          <h2 class="sale-product">{{ sale.product }}</h2>
          <p class="sale-date">Fecha: {{ sale.date }}</p>
          <p class="sale-amount">Monto: $ {{ sale.amount | number:'1.2-2' }}</p>
          <p class="sale-buyer" *ngIf="isVendor">Comprador: {{ sale.buyer }}</p>
          <button class="sale-button" (click)="cancelSale(sale.id)" *ngIf="isVendor">Cancelar Venta</button>
        </div>
      </div>
    </div>
  </div>
  